@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-dark-blue-1: #142257;
  --primary-dark-blue-2: #1f3584;
  --primary-sky-blue: #15b2f5;

  --neutral-white: #ffffff;
  --neutral-black: #171921;
  --neutral-grey-dark: #545971;
  --neutral-grey-2: #9ea3b5;
  --neutral-soft-grey: #e3e6f0;
  --neutral-light-grey: #f3f5f9;

  --system-yellow: #ffa928;
  --system-red: #ff5e5e;

  --shade-of-dark-blue: #566ab1;
  --shade-of-blue-1: #5dcbfb;
  --shade-of-blue-2: #e8f7fe;

  --font-san: var(--font-san);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-dark: var(--primary-dark-blue-1);
  --color-neutral-white: var(--neutral-white);

  --font-sans: var(--font-plus-jakarta);
}
/*   
      fontFamily: {
  "Heading/H1": [
    "Plus Jakarta Sans"
  ],
 
  "Subheading/32": [
    "Plus Jakarta Sans"
  ],
  "Subheading/28": [
    "Plus Jakarta Sans"
  ],
  "Subheading/20": [
    "Plus Jakarta Sans"
  ],
  "Subheading/18": [
    "Plus Jakarta Sans"
  ],
  "Subheading/14": [
    "Plus Jakarta Sans"
  ],
  "Subheading/14 - Underlined": [
    "Plus Jakarta Sans"
  ],
  "Body/24": [
    "Plus Jakarta Sans"
  ],
  "Body/20": [
    "Plus Jakarta Sans"
  ],
  "Body/18": [
    "Plus Jakarta Sans"
  ],
  "Body/14": [
    "Plus Jakarta Sans"
  ],
  "Button/24": [
    "Plus Jakarta Sans"
  ],
  "Button/18": [
    "Plus Jakarta Sans"
  ],
  "Button/16": [
    "Plus Jakarta Sans"
  ]
},
      fontSize: {
  "Heading/H1": "80px",
  "Heading/H2": "64px",
  "Heading/H3": "52px",
  "Heading/H4": "32px",
  "Heading/H5": "24px",
  "Heading/H6": "20px",
  "Subheading/32": "32px",
  "Subheading/28": "28px",
  "Subheading/20": "20px",
  "Subheading/18": "18px",
  "Subheading/14": "14px",
  "Subheading/14 - Underlined": "14px",
  "Body/24": "24px",
  "Body/20": "20px",
  "Body/18": "18px",
  "Body/14": "14px",
  "Button/24": "24px",
  "Button/18": "18px",
  "Button/16": "16px"
},
      boxShadow: {}
    }
  }
};

} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-san);
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
h2 {
  font-size: 20px;
  font-weight: 500;
}
