@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-dark-blue-1: #142257;
  --primary-dark-blue-2: #1f3584;
  --primary-sky-blue: #15b2f5;

  --neutral-white: #ffffff;
  --neutral-black: #171921;
  --neutral-grey-dark: #545971;
  --neutral-grey-2: #9ea3b5;
  --neutral-soft-grey: #e3e6f0;
  --neutral-light-grey: #f3f5f9;

  --system-yellow: #ffa928;
  --system-red: #ff5e5e;

  --shade-of-dark-blue: #566ab1;
  --shade-of-blue-1: #5dcbfb;
  --shade-of-blue-2: #e8f7fe;

  --font-san: var(--font-san);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-dark: var(--primary-dark-blue-1);
  --color-neutral-white: var(--neutral-white);

  --bg-system-red: var(--system-red);

  --font-sans: var(--font-plus-jakarta);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-san);
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
h2 {
  font-size: 25px;
  font-weight: 500;
}
p{
  font-size: 16px;
}
